@import url(http://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body{
	background-image: url("https://download.unsplash.com/photo-1421940975339-33bdde74a873");
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
}

.header {
	margin-top: 10px;
	/*border-bottom: 2px solid black;
	border-top: 2px solid black;*/
	text-align: center; 

}
.description{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	text-align: center;
	margin-top: 30px
}

h1{
	margin-top: 40px;
	border-bottom: 6px double white;
	border-top: 6px double white;
	border-right: 6px double white;
	border-left: 6px double white;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #BD4777;
	font-family: 'Londrina Outline', cursive;
	font-size: 70px;
	font-weight: 600; 
}

.btn-primary{
	background-color:  #A30042;
	margin-left: 300px;
	font-family: 'Londrina Outline', cursive;
	font-size: 24px;
	color: black;
	font-weight: 600; 
}
.btn-contact{
	background-color: #A30042;
	margin-left: 50px;
	color: white;
	font-family: 'Londrina Outline', cursive;
	font-size: 24px;
	color: black;
	font-weight: 600; 
}

.btn-projects{
	background-color:#A30042;
	margin-left: 50px;
	color: white;
	font-family: 'Londrina Outline', cursive;
	font-size: 24px;
	color: black;
	font-weight: 600; 
}

.navbuttons{
	margin-left:150px;
	margin-top: 40px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: grey;
    color: #A30042;
}
.btn-contact:hover, .btn-contact:focus, .btn-contact:active, .btn-contact.active, .open > .dropdown-toggle.btn-contact {
    background-color: grey;
    color: #A30042;
}
.btn-projects:hover, .btn-projects:focus, .btn-projects:active, .btn-projects.active, .open > .dropdown-toggle.btn-projects {
    background-color: grey;
    color: #A30042;
}
